body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

header {
    text-align: center;
    padding: 10px;
}

h1, p {
    margin: 0;
}

#gallery {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.nav-btn {
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    padding: 10px;
}

.photo-display {
    display: flex;
    align-items: center;
    width: 80%;
}

.photo-display img {
    width: 50%;
    padding: 0;
    aspect-ratio: 4 / 5;
    border: 2px solid #444;
    margin: 20px;
    box-sizing: border-box;
}

.photo-info {
    text-align: left;
    padding: 10px;
    width: 40%;
}

#toggle-view {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: #555;
    color: white;
    border: none;
    cursor: pointer;
}

#tiles {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.thumbnail img {
    width: auto;
    height: 125px; /* Maintain the aspect ratio */
    margin: 5px;
    border: 2px solid #444;
    cursor: pointer;
}

.hidden {
    display: none;
}

.thumbnail {
    margin: 5px;
}